NEXT_PUBLIC_SUPABASE_URL=https://issvdwkurrdpeynrfobh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlzc3Zkd2t1cnJkcGV5bnJmb2JoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzMzcyNTQsImV4cCI6MjA5MzkxMzI1NH0.rzi_0DFrPjgkf6V7bbwA78dIhYZSdF5pe_Mw5MlX3M0
NEXT_PUBLIC_WORKER_URL=https://floraputation-v5-worker.onrender.com
